@use "./_utils" as *;

// styling for individual star
#star {
  // same color schem for 5 different fill-types
  $types: 0, 25, 50, 75, 100;
  @each $type in $types {
    &__fill--#{$type} {
      stop:first-child { stop-color: black; }
      stop:last-child { stop-color: transparent; }
    }
  }

  // hide the reference svg
  &__reference {
    width: 0;
    height: 0;
    position: absolute;
  }
}

// styling for Star Rating component
.star__rating {
  @include flex($main-axis: flex-start);
  gap: 0.1rem;
  width: 4rem;
  stroke: black;
  stroke-width: 0.5rem;
}