@use "./_utils" as *;
@use "./colors" as *;

// styling for individual star
#star {
  // same color schem for 5 different fill-types
  $types: 0, 35, 50, 65, 100;
  @each $type in $types {
    &__fill--#{$type} {
      stop:first-child {
        stop-color: black;
        #App__container.dark-mode & {
          stop-color: $color__font--dark;
        }
      }
      stop:last-child { stop-color: transparent; }
    }
  }

  // hide the reference svg
  &__reference {
    width: 0;
    height: 0;
    position: absolute;
  }
}

// styling for Star Rating component
.star__rating {
  @include flex($main-axis: flex-start);
  gap: 0.1rem;
  width: 4rem;
  stroke: black;
  stroke-width: 0.35rem;

  #App__container.dark-mode & {
    stroke: $color__font--dark;
  }
}