$small: 10px;

.question-body {
  color: darkblue;
  font-weight: 900
}

.answer-body {
  font-weight: 900;
  color:darkorchid;
}

.image-answer {
  height: 50px;
  width:80px;
}

.helpful-button {
  background: none;
	color: black;
	border: none;
	padding: 0;
  font-size: $small;
};

.report-button, .helpful-button-yes, .add-answer-button {
  background: none;
	color: darkgrey;
	border: none;
	padding: 0;
  font-size: $small;
  text-decoration: underline;

}

.reported-qa {
  color:red;
  border: 10rem;
  font-weight: 900px;

}

.answerer-info {
  font-size: $small;
  color: grey;
  opacity: .5;
}

