$small: 10px;
$grey: rgb(102, 100, 100);
$blue: #2F5AAA;
$coolblue: #415A77;
$darkblue: #1B263B;
$lightgrey: #e0e1dd;
$buttoncolor: #EFE5DC;
$darkbrown: #463F3A;


.testing-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: $darkbrown;
}

.question-header {
  // display: flex;
  justify-content: center;
  border-style:solid;
  align-items: center;
  justify-content: center;
  border-style:solid;
  align-items: center;
  opacity:50%;
  // margin-left: 13.30rem;
  width: 50%;
  // margin-left: 13.30rem;

}

.master-question {
  display: flex;
  justify-content: center;
}

.question-list {
  text-align: justify;
  overflow-y: auto;
  max-height: 27rem;
}
.bottom-buttons {
  display: flex;
  flex-direction: row;
}

.question-body {
  font-weight: 700;
  width: 60em;
  margin:1rem;
  min-height: fit-content;
  text-align: justify;
  color: $darkbrown;
}


.question-buttons {
  display:inline-block;
  float: right;
  font-weight: 200;
}

.q-tag {
  margin-right: .5rem;
  color: $darkbrown;

}
.a-tag{
  color: $grey;
  width:fit-content;
  display: inline;
}

.answer-in-question{
  margin-top:1rem;
}

// .a-tag{
//   margin-right:50rem;
// }

.answer-body {
  color: $grey;
  font-size: .85rem;
  font-weight: 500;
  margin-left: .5rem;
  display:inline;
}

.answers{
  display:flex;
  flex-direction: column;
}

.answer-list-use{
  display: flex;

}
.answer-list {
  max-height: 16rem;
  min-height: min-content;
  overflow-y: auto;
}


.image-answer-list {
  display: flex;
  flex-direction: row;
  margin-left:.9rem;
  margin-bottom:0;
}

.add-answer-input {
  cursor:auto;
  height:10rem;
  width: 100%;
  margin-bottom: 0
}
.word-limit {
  margin-left:55rem;
  margin-top: 0;
  font-size: $small;

}
.add-answer-modal {
  width: 35%;
  height: 30px;
}

.more-answer-button, .less-answer-button {
  background: none;
  font-size: .7rem;
  font-weight: 600;
  color:$darkbrown;
  border:none;
  margin-left:2rem;
}
.label-answer-modal-warning {
  opacity:50%;
  margin-bottom: 1rem;

  font-style:italic;
}
.mandatory-warning{
  margin-top:5rem;
  color:red;
}
.image-answer {
  height: 50px;
  width:80px;
  border-style: inset;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.helpful-button{
  background: none;
	color: $darkblue;
	border: none;
  font-size: $small;
  margin: .05rem;
  margin-left: .5rem;
};

.report-button, .helpful-button-yes, .add-answer-button {
  background: none;
	border: none;
	padding: 0;
  font-size: .65rem;
  text-decoration: underline;
  margin-right: .5rem;
  margin-left: .5rem;
  color:$darkblue;

}

.report-button-clicked{
  font-weight: 500;
  color:red;
}

button:hover {
  opacity: .7;
  cursor:pointer;
}


.more-question-button, .add-question-button {
  border: solid;
  size: 1rem;
  padding: 1rem;
  background-color: $buttoncolor;
  margin-right: 1rem;
  color:$darkblue;
  font-weight: 500;

}

.answerer-info {
  font-size: $small;
  color: black;
  opacity: 1;
  margin-bottom: 1rem;
  margin-left: .50rem;
  font-weight: 200;

  .seller-ans  {
    .review-user {
      font-weight: 700;
    }
  }
}

.answer-info .helpful-button {
  margin-left: 1rem;
}
.search-bar-question{
  width:60rem;
  height: 3rem;
  border-width: thin;
  margin-bottom: 15px;
  margin-top: 10px;
  margin-left: 5px;
  background-image: URL('./document-search-icon.png');
  background-position-x: right;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 25px;
}
::placeholder {
  color: grey;
  font-weight: bolder;
}

.question-modal-title, .answer-header-qa {
  color:$darkblue;
}

.answer-submit-button {
  background-color: $buttoncolor;
}

.yes-helpful-span{
  font-weight:600;
  margin-left: .3rem;
  color:$darkblue;
}