// think of these statement as [import * from '...'] in JavaScript module
@use 'shared/_utils' as *;
@use 'shared/_stars' as *;
@use 'shared/_colors' as *;
@use 'relatedProducts/_related-products' as *;

#App__container {
  color: $color__font;
  background: $color__background;

  &.dark-mode {
    color: $color__font--dark;
    background: $color__background--dark;
  }
}

// $main-color: #463F3A;
// $heading-font-family: Inter, sans-serif;

// * {
//   color: $main-color;
//   font-family: Inter, sans-serif;
// }
