* {
  box-sizing: border-box;
}
.review-card {
  border: 2px solid purple;
  width: 600px;

  .review-photo {
    width: 50px;
    height: 50px;
  }

}

.review-scroll {
  // border: 2px solid blue;
  overflow-y: auto;
  height: min(600px, 800px);
}

.reviews-list {
  // border: 2px solid cyan;
}

.characteristics {
    // border: 2px solid blue;
    display: flex;
    justify-content: space-between;

    .selections {
      font-size: .5em; //need to change according to our root font size
      border: 2px solid darkgoldenrod;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 150px;
    }
}

.review-error-message {
  border: 2px solid red;
}

.ratings-breakdown {
  border: 2px solid palevioletred;
}

.star-representation {
  border: 2px solid purple;
  display: flex;
  gap: 10px;

  .average-rating {
    border: 2px solid green;
    font-size: 3rem;
    height: 80px;
    width: 80px;
  }
}

.star-breakdown-item {
  border: 2px solid olivedrab;
  display: flex;
  gap: 5px;
  padding: 5px;

  span {
    border: 2px solid orange;
  }
  .break-down-bar {
    display: flex;
    align-items: center;

    .gray-bar {
      // border: 2px solid cyan;
      background-color: rgba(102, 102, 102, 0.472);
      width: 200px;
      height: 10px;
      position: absolute;
    }

    .green-bar {
      background-color: rgb(9, 246, 9);
      height: 10px;
    }
  }
}

.char-bar-container {
  display: flex;
  width: 300px;
  gap: 5px;
}

.char-bar-traits {
  display: flex;
  width: 300px;
}

.char-bar {
  background-color: gray;
  width: 100px;
  height: 10px;
}

.trait-container-left {
  display: flex;
  justify-content: flex-start;
  width: 100px;
}
.trait-container-middle {
  display: flex;
  justify-content: center;
  width: 100px;
}
.trait-container-right {
  display: flex;
  justify-content: flex-end;
  width: 100px;
}