$dark-brown: #463F3A;
$light-brown: #D0B8AC;
$beige: #F3D8C7;
$super-light-brown: #EFE5DC;
$background-white: #FBFEFB;
$orange: #EE6C4D;
$triangle-blue: #2f5aaa;
$dark-mode-steel-blue: #778DA9;
$dark-mode-dark-blue: #1b263b;
$dark-mode-light-brown: #bb9f8c;

* {
  box-sizing: border-box;
}


.loading-reviews {
  font-size: 2rem;
  display: flex;
  justify-content: center;

  @keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
  }

  @keyframes rotateY {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }

  .loading-reviews-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotateY 2s infinite linear;
  }
}

.ratings-reviews-master-container {
  display: flex;
  justify-content: center;
}

.ratings-reviews-container {
  display: flex;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 30px;
  width: 1000px;
}

.review-card {
  border-bottom: 2px solid $dark-brown;
  min-width: 400px;
  max-width: 100%;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;

  .highlight-color {
    background-color: $super-light-brown;

    &.active-dark {
      background-color: #273755;
      color: $dark-mode-light-brown;
    }
  }

  .review-photo-container {
    height: 100%;
    margin-bottom: 4px;

    &.active-dark {
      div{
        img{
          border: 2px solid $dark-mode-light-brown;
        }
      }
    }

    div {
      display: flex;
      gap: 5px;
      height: 75px;

      img {
        border: 2px solid $triangle-blue;
      }

      img:hover {
        // Makes a bigger pop-up to preview image
        cursor: pointer;
        transition: 0.2s ease;
        min-width: 75px;
        width: fit-content;
        max-width: 100%; // For preventing overflow
        height: 125px;
        min-width: 80px;
        z-index: 0;
        border: solid 1px #555;
        background-color: #eed;
        box-shadow:  0 0 10px  rgba(0,0,0, .6);
        transition: 0.2s
      }
    }
  }

  .review-photo {
    width: 75px;
    height: 75px;
  }

  .review-star-user {
    display: flex;
    justify-content: space-between;

    div {
      display: flex;
      align-items: center;
    }

    .user-date-info {
      span {
        opacity: .8;
        color: $dark-brown;
        .review-user {
          opacity: 1;
          color: $triangle-blue;
          font-weight: 700;
        }
        &.active-dark {
          color: $dark-mode-light-brown;
        }
      }
    }

  }

  .review-card-summary {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .review-card-body {
    width: 100%;
    margin-bottom: 10px;
    word-break: break-word;

    .show-button {
      color: $dark-brown;
      opacity: .7;
      font-size: .8rem;
      width: fit-content;
      margin-left: auto;
      text-decoration: underline;
    }

    .show-button:hover {
      cursor: pointer;
      background-color: $super-light-brown;
    }

  }

  .review-card-buttons {
    display: flex;
    justify-content: flex-end;

    .helpful {
      border-right: 2px solid $dark-brown;
      padding-right: 10px;
      display: flex;
      gap: 10px;

      button {
        all: unset;
        display: flex;
        gap: 2px;
        border-bottom: 2px solid $dark-brown;
      }

      button:hover {
        opacity: .5;
        color: $triangle-blue;
        border-color: $triangle-blue;
        cursor: pointer;
      }

      .helpful-active {
        opacity: .6;
        color: $triangle-blue;
        border-color: $triangle-blue;

        &.active-dark {
          opacity: 0.8;
        }
      }

      div {
        display: flex;
        gap: 5px;
      }
    }

    .report {
      padding-left: 10px;

      button {
        all: unset;
        border-bottom: 2px solid $dark-brown;
        display: flex;
        gap: 2px;

        div {
          display: flex;
        }

        .report-icon {
          font-size: 1.1rem;
        }
      }

      button:hover {
        opacity: .7;
        color: red;
        border-color: red;
        cursor: pointer;
      }
    }
  }

  .seller-response {
    background-color: $super-light-brown;
    margin-bottom: 10px;
    padding: 10px;

    &.active-dark {
      background-color: #1b263b70;
    }

    span {
      display: block;
      font-weight: 700;
      padding-bottom: 10px;
    }
  }

}

.review-scroll {
  overflow-y: auto;
  min-height: 400px;
  max-height: 650px;
  margin-top: 5px;

  .review-scroll-item {
    display: flex;
    flex-direction: column;
    max-width: 70vw;
  }

}

// Right Container
.reviews-list {
  width: 100%;
}

.sort-menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .reviews-sort-menu {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    font-weight: 700;

    .number-of-reviews {
      font-size: 2rem;
      transform: translate(0px, 5px);
      margin-right: 5px;
    }

    .sort-selections {
      select {
        border: none;
        border-bottom: 2px solid $dark-brown;
        margin-left: 5px;
        font-weight: 700;
        font-size: 1rem;
        translate: 0 1px;
        color: $dark-brown;
        position: relative;
        top: 2px;
        text-align: center;
      }

      &.active-dark {
        select{
          background-color: #141416;
          color: $dark-mode-light-brown;
          border-bottom: 2px solid $dark-mode-light-brown;
          font-size: 1rem;
          translate: 0 1px;
        }
      }

      select:hover {
        cursor: pointer;
      }
    }
  }

  .search-input-bar {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-left: 30px;
    input {
      width: 200px;
    }

    &.active-dark {
      input {
        background-color: $dark-mode-dark-blue;
        color: $dark-mode-light-brown;
      }
    }

    .search-icon {
      font-size: 2rem;
      display: flex;
      transition: 0.5s;

      &.active-dark {
        opacity: 0.7;
      }
    }

    .search-icon:hover {
      cursor: pointer;
      color: $triangle-blue;
      translate: 0 -5px;
      transition: 0.5s;

      &.active-dark {
        color: $dark-mode-light-brown;
        opacity: 1;
      }
    }
  }

}


.recommend-check-container {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.sort-menu-item {
  list-style: none;
  position: absolute;
}

.review-error-message {
  font-size: .8rem;
  border: 2px solid red;
  width: fit-content;
  padding-right: 20px;
  margin-top: 10px;

  ul {
    padding-left: 20px;

    div {
      margin-bottom: 5px;
      text-decoration: underline;
    }
  }
}

.review-modal-star {
  display: flex;
  gap: 0.1rem;
  width: 6rem;
  stroke: black;
  stroke-width: 0.35rem;

  &.active-dark {
    stroke: $dark-mode-light-brown;
  }

  svg:hover {
    stroke: $orange;
  }
}


// Left Container
.ratings-breakdown {
  min-width: 300px;

  .percent-recommend {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.9rem;
  }

  .star-representation {
    display: flex;
    gap: 10px;

    .average-rating {
      font-size: 3rem;
      font-weight: 700;
    }

    .star-rating {
      padding-top: 10px;
    }
  }

  .star-bar-container {
    display: flex;
    flex-direction: column;

    .star-breakdown-item {
      display: flex;
      gap: 5px;
      padding-bottom: 5px;
      padding-top: 5px;

      .filter-star-button {
        display: flex;
        justify-content: space-between;
        gap: 5px;
        border-bottom: 1px solid $dark-brown;
        font-size: 0.9rem;
        width: 51px;
      }

      .filter-active {
        background-color: $super-light-brown;

        &.active-dark {
          background-color: $dark-mode-light-brown;
          color: $dark-mode-dark-blue;
          opacity: 0.7;
        }
      }

      .filter-star-button:hover {
        cursor: pointer;
        opacity: .5;
        background-color: $beige;

        &.active-dark {
          color: $dark-mode-dark-blue;
        }
      }

      .break-down-bar {
        display: flex;
        align-items: center;

        .gray-bar {
          background-color: $light-brown;
          opacity: .4;
          width: 244px;
          height: 10px;
          position: absolute;
          z-index: 0;

          &.active-dark {
            background-color: $dark-mode-dark-blue;
          }
        }

        .green-bar {
          background-color: $triangle-blue;
          height: 10px;
          z-index: 1;
          &.active-dark {
            background-color: $dark-mode-light-brown;
            opacity: 0.7;
          }
        }
      }
    }

    .star-filter-tags {
      background-color: $super-light-brown;
      margin-top: 15px;
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 5px;
      min-height: 50px;

      &.active-dark {
        background-color: #141416;
        opacity: .8;

        .big-tag:hover {
          color: $dark-mode-light-brown;
          opacity: 0.7;
          cursor: pointer;
        }

        .tag-filters .tag-container:hover {
          color: $dark-mode-light-brown;
          opacity: 0.7;
          cursor: pointer;
        }
      }

      .big-tag {
        transform: scale(2);
        margin-left: 15px;
        margin-right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
      }

      .big-tag:hover {
        color: $triangle-blue;
        transform: scale(2) rotate(15deg);
        transition: transform 0.3s ease;
        cursor: pointer;
      }

      .tag-filters {
        display: flex;

        .tag-container {
          transition: 0.5s ease;
        }

        .tag-container:hover {
          cursor: pointer;
          color: $triangle-blue;
          translate: 0 -2px;
          transform: rotate(10deg);
          transition: 0.3s ease;
        }

        .small-tag {
          margin-left: 15px;
          margin-right: 17px;
          .tag {
            position: absolute;
            transform: scale(2.2, 2) rotate(-45deg);
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .text {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            font-size: 0.8rem;
            translate: 2px 1px;

            .text-star {
              font-size: 0.5rem;
              translate: 0px 0.5px;
            }
          }
        }
      }


    }
  }

  .char-bars-section {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .char-bar-container {
      display: flex;
      width: 300px;
      margin-bottom: 5px;
      gap: 5px;
    }

    .char-bar-traits {
      display: flex;
      width: 300px;
    }

    .char-bar {
      margin-top: 3px;
      background-color: $light-brown;
      opacity: 0.4;
      z-index: 0;
      width: 100px;
      height: 10px;

      &.active-dark {
        background-color: $dark-mode-dark-blue;
        opacity: 0.7;
      }
    }

    .char-triangle {
      position:absolute;
      font-size: 1.1em;
      height: 10px;
      transform: rotate(180deg);
      margin-top: 9px;
      color: $triangle-blue;
      z-index: 1;

      &.active-dark {
        color: $dark-mode-light-brown;
      }
    }

    .trait-container-left {
      display: flex;
      justify-content: flex-start;
      width: 100px;
      font-size: .7rem;
    }
    .trait-container-middle {
      display: flex;
      justify-content: center;
      width: 100px;
      font-size: .7rem;
    }
    .trait-container-right {
      display: flex;
      justify-content: flex-end;
      width: 100px;
      font-size: .7rem;
    }
  }
}


.characteristics {
  display: flex;
  border: 1px solid $dark-brown;

  .selection-type {
    border-right: 2px solid $dark-brown;
    background-color: $light-brown;
    font-size: 1em;
    min-width: 100px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    &.active-dark {
      background-color: #141416;
    }
  }

  .selections {
    font-size: .7em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 80px;
    min-height: 40px;
    gap: 3px;

    span {
      white-space: pre;
      text-align: center;
    }

    div {
      width: 13px;
      height: 13px;
      display: flex;
      justify-content: center;
      align-items: center;

      input {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
      }

    }
  }
}

.review-modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-modal-content {
  border: 3px solid $triangle-blue;
  background-color: $super-light-brown;
  padding: 20px;
  position: fixed;
  min-width: 650px;
  width: 70vw;
  height: 85vh;
  overflow-y: auto;
  overflow-x: auto;

  &.active-dark {
    background-color: #141416;
    border: 3px solid $dark-mode-light-brown;
  }

  .review-form {
    width: 100%;
  }

  .star-name-container {
    padding: 3px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .star-rec-container {
    min-width: 370px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .photo-container {
      display: flex;
      flex-direction: column;

      .upload {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
      }

      .input-url {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        input {
          width: 80%;
        }

        &.active-dark {
          input {
            background-color: $dark-mode-dark-blue;
            color: $dark-mode-light-brown;
          }
        }
      }

      .photos {
        display: flex;
        gap: 6.25px;
      }

      .individual-photo {
        border: 2px solid $triangle-blue;
        width: 65px;
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;

        &.active-dark {
          border: 2px solid $dark-mode-light-brown;
        }

        img {
          width: 100%;
          height: 100%;
        }

        div {
          transform: scale(2);
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30.5px;
          height: 30.5px;
          background-color: $super-light-brown;
          opacity: .7;
          z-index: 0;
        }
      }

      .individual-photo:hover {
        opacity: .7;
        background-color: $dark-brown;
        cursor: pointer;
      }

      .photo-error-message {
        color:red;
        margin-top: 5px;
        width: fit-content;
        padding: 2px 0px;
        font-size: .8rem;

        display: flex;
        gap: 5px;
        align-items: center;
        div {
          display: flex;
        }
      }
    }
  }

  .name-email-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;

    .username {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 220px;


      input {
        width: 200px;
      }

      &.active-dark {
        input {
          background-color: $dark-mode-dark-blue;
          color: $dark-mode-light-brown;
        }
      }

      .privacy-notice {
        width: 160px;
        font-size: .7rem;
        text-align: center;
      }
    }

    .email {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 220px;

      input {
        width: 200px;
      }

      &.active-dark {
        input {
          background-color: $dark-mode-dark-blue;
          color: $dark-mode-light-brown;
        }
      }

      .privacy-notice {
        width: 150px;
        font-size: .7rem;
        text-align: center;
      }
    }
  }

  .review-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
  }

  .star-rating {
    display: flex;
    gap: 10px;

  }

  .modal-recommend {
    display: flex;
    gap: 5px;

    .modal-rec-selection {
      display: flex;
      gap: 5px;
    }

    label {
      display: flex;
      gap: 5px;

      div {
        display: flex;
        justify-content: center;
        align-items: center;

        input {
          margin: 0px;
        }
      }
    }

    label:hover {
      div {
        div {
          border: 2px solid $orange;
          border-radius: 50%;
          position: absolute;
          width: 13px;
          height: 13px;
        }
      }
    }
  }

  .char-container {
    display: flex;
    flex-direction: column;

    .char-forms {
      border: 1px solid $dark-brown;
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  .review-summary-text {
    margin-top: 10px;
    margin-bottom: 10px;

    div {
      width: 300px;
    }

    input {
      width: 400px;
      resize: none;
    }

    &.active-dark {
      input{
        background-color: $dark-mode-dark-blue;
        color: $dark-mode-light-brown;
      }
    }
  }

  .review-body-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    .text-header {
      text-align: start;
    }

    .text-footer {
      text-align: end;
    }

    div {
      width: 100%;
    }

    textarea {
      background-color: $background-white;
      width: 100%;
      height: 200px;
      resize: none;
    }

    &.active-dark {
      textarea {
        background-color: $dark-mode-dark-blue;
        color: $dark-mode-light-brown;
      }
    }

  }
}

.image-modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-modal-content {
  img {
    max-width: 80vw;
    max-height: 70vh;
    object-fit: contain;
    box-shadow:  0 0 10px  rgba(0,0,0, .6);
  }
}

.image-carousel-modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .image-modal-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

  }

  .image-carousel-modal-next {
    width: 700px;
    max-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 15px;
    filter: blur(2px);
    transition: 0.5s;
  }

  .image-carousel-modal-next:hover {
    filter: blur(0);
    transition: 0.3s;
    box-shadow:  0px 0px 20px  rgba(0, 0, 0, 0.8);
  }

  .image-carousel-modal-content {
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 70vw;
      max-height: 60vh;
      object-fit: contain;
      box-shadow:  0px 0px 20px  rgba(0, 0, 0, 0.8);
    }
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

}


.action-buttons-container {
  margin-top: 50px;
  display: flex;
  gap: 15px;

  button {
    all: unset;
    border: 1px solid black;
    background-color: $super-light-brown;
    padding: 15px;
    height: 20px;

    &.active-dark {
      background-color: $dark-mode-dark-blue;
    }

    div {
      display: flex;
      gap: 20px;
    }

    .more-text {
      font-size: 1rem;
      font-weight: 700;
    }

    .add-button-text {
      font-size: 1rem;
      font-weight: 700;
    }

    .plus-sign {
      font-weight: 400;
      transform: scale(1.3);
      position: relative;
      top: -1px;
    }
  }

  button:hover {
    opacity: .7;
    cursor: pointer;

    &.active-dark {
      opacity: 1;
      border: 1px solid $dark-mode-light-brown;
    }
  }
}