$color1: #463F3A;
$color2: #D0B8AC;
$color3: #F3D8C7;
$color4: #EFE5DC;
$color5: #FBFEFB;
$color6: #EE6C4D;
$triangle: #2f5aaa;



* {
  box-sizing: border-box;
  // background-color: #141416;
  // color: #bb9f8c;
}

.ratings-reviews-container {
  // border: 2px solid yellow;
  display: flex;
  // justify-content: center;
  gap: 50px;
  padding: 50px 50px 20px 50px;
}

.review-card {
  // border: 2px solid purple;
  border-bottom: 2px solid $color1;
  // width: 98%;
  // inline-size: min-content;
  min-width: 400px;
  max-width: 100%;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  // margin-right: 40px;

  .highlight-color {
    background-color: $color4;
  }

  .review-photo-container {
    // border: 2px solid blue;
    height: 100%;
    margin-bottom: 4px;

    div {
      // border: 2px solid $color3;
      display: flex;
      gap: 5px;
      height: 75px;

      img {
        border: 2px solid $color2;
        // transition: 0.4s;
      }

      img:hover {
        // Makes a bigger pop-up to preview image
        cursor: pointer;
        width: fit-content;
        max-width: 100%; // For preventing overflow
        height: 125px;
        min-width: 80px;
        z-index: 0;
        border: solid 1px #555;
        background-color: #eed;
        box-shadow:  0 0 10px  rgba(0,0,0, .6);
        transition: 0.2s
        // -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
        // -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
        // -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
      }
    }
  }

  .review-photo {
    width: 75px;
    height: 75px;
  }

  .review-star-user {
    display: flex;
    justify-content: space-between;

    div {
      display: flex;
      align-items: center;
    }

    .user-date-info {
      span {
        opacity: .8;
        color: $color1;
        .review-user {
          opacity: 1;
          color: $triangle;
          font-weight: 700;
        }
      }
    }

  }

  .review-card-summary {
    // border: 2px solid red;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .review-card-body {
    // border: 2px solid red;
    width: 100%;
    // max-width: 100%;
    margin-bottom: 10px;
    word-break: break-word;
    // display: flex;
    // flex-direction: column;

    .show-button {
      // border: 2px solid blue;
      color: $color1;
      opacity: .7;
      font-size: .8rem;
      width: fit-content;
      margin-left: auto;
      text-decoration: underline;
    }

    .show-button:hover {
      cursor: pointer;
      background-color: $color4;
    }

  }

  .review-card-buttons {
    // border: 2px solid red;
    display: flex;
    // margin-bottom: 10px;
    // margin-top: 15px;
    justify-content: flex-end;
    // gap: 5px;

    .helpful {
      // border: 2px solid blue;
      border-right: 2px solid $color1;
      padding-right: 10px;
      // margin-right: 10px;
      display: flex;
      gap: 10px;

      button {
        all: unset;
        display: flex;
        gap: 2px;
        border-bottom: 2px solid $color1;
      }

      button:hover {
        opacity: .5;
        color: $triangle;
        border-color: $triangle;
        cursor: pointer;
      }

      .helpful-active {
        opacity: .6;
        color: $triangle;
        border-color: $triangle;
      }

      div {
        display: flex;
        gap: 5px;
      }
    }

    .report {
      // border: 2px solid green;
      // display: flex;
      padding-left: 10px;

      button {
        all: unset;
        border-bottom: 2px solid $color1;
        display: flex;
        gap: 2px;

        div {
          display: flex;
        }

        .report-icon {
          font-size: 1.1rem;
        }
      }

      button:hover {
        opacity: .7;
        color: red;
        border-color: red;
        cursor: pointer;
      }
    }
  }

  .seller-response {
    // border: 2px solid $color1;
    background-color: $color4;
    margin-bottom: 10px;
    padding: 10px;

    span {
      display: block;
      font-weight: 700;
      padding-bottom: 10px;
    }
  }

}

.review-scroll {
  // border: 2px solid blue;
  overflow-y: auto;
  min-height: 650px;
  max-height: 700px;
  // width: 60vw;
  margin-top: 5px;
  // max-width: 1100px;
  // display: flex;
  // justify-content: center;

  .review-scroll-item {
    display: flex;
    flex-direction: column;
    max-width: 70vw;
    // height: 100%;
    // justify-content: center;
    // align-items: center;
  }
}

// Right Container
.reviews-list {
  // background-color: white;
  // border: 2px solid dodgerblue;
  width: 100%;
}

.sort-menu-container {
  // border: 2px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin-bottom: 20px;

  .reviews-sort-menu {
    // border: 2px solid cyan;
    // background-color: $color2;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    font-weight: 700;
    // border: 2px solid blue;

    .number-of-reviews {
      font-size: 2rem;
      transform: translate(0px, 5px);
      margin-right: 5px;
    }

    .sort-selections {
      select {
        border: none;
        border-bottom: 2px solid black;
        margin-left: 5px;
        font-weight: 700;
        // Move it down according to border bottom
        position: relative;
        top: 2px
      }

      select:hover {
        cursor: pointer;
      }
    }
  }

  .search-input-bar {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-left: 30px;
    // border: 2px solid red;
    // width: 100%;
    // min-width: 300px;
    // max-width: 400px;
    // width: 100%;
    // height: 20px;
    input {
      // width: 100%;
      width: 200px;
      // max-width: 400px;
    }

    .search-icon {
      font-size: 2rem;
      // transform: scale(1.5);
      display: flex;
      transition: 0.5s;
    }

    .search-icon:hover {
      cursor: pointer;
      color: $triangle;
      translate: 0 -5px;
      transition: 0.5s;
    }
  }

}


.recommend-check-container {
  // border: 2px solid blue;
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.sort-menu-item {
  list-style: none;
  position: absolute;
}

.review-error-message {
  font-size: .8rem;
  border: 2px solid red;
  width: fit-content;
  padding-right: 20px;
  margin-top: 10px;

  ul {
    padding-left: 20px;

    div {
      margin-bottom: 5px;
      text-decoration: underline;
    }
  }
}

.review-modal-star {
  display: flex;
  gap: 0.1rem;
  width: 6rem;
  stroke: black;
  stroke-width: 0.35rem;

  svg:hover {
    stroke: $color6;
  }
}


// Left Container
.ratings-breakdown {
  min-width: 300px;
  // border: 2px solid palevioletred;

  .percent-recommend {
    margin-top: 10px;
    margin-bottom: 10px;
    // text-align: center;
  }

  .star-representation {
    // border: 2px solid purple;
    display: flex;
    // padding-left: 20px;
    gap: 10px;

    .average-rating {
      // border: 2px solid green;
      font-size: 3rem;
      font-weight: 700;
    }

    .star-rating {
      padding-top: 10px;
    }
  }

  .star-bar-container {
    // border: 2px solid red;
    display: flex;
    flex-direction: column;

    .star-breakdown-item {
      // border: 2px solid olivedrab;
      display: flex;
      gap: 5px;
      padding-bottom: 5px;
      padding-top: 5px;

      .filter-star-button {
        display: flex;
        gap: 5px;
        border-bottom: 1px solid $color1;
      }

      .filter-active {
        background-color: $color3;
      }

      .filter-star-button:hover {
        cursor: pointer;
        opacity: .5;
        background-color: $color3;
      }

      .break-down-bar {
        display: flex;
        align-items: center;

        .gray-bar {
          background-color: $color2;
          opacity: .4;
          width: 244px;
          height: 10px;
          position: absolute;
          z-index: -1;
        }

        .green-bar {
          background-color: $triangle;
          height: 10px;
        }
      }
    }

    .star-filter-tags {
      background-color: $color4;
      margin-top: 15px;
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 5px;
      min-height: 50px;

      .big-tag {
        // border: 2px solid blue;
        // height: auto;
        // width: auto;
        transform: scale(2);
        margin-left: 15px;
        margin-right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .big-tag:hover {
        color: $triangle;
      }

      .tag-filters {
        display: flex;

        .tag-container:hover {
          cursor: pointer;
          color: $triangle;
        }

        .small-tag {
          // border: 1.5px solid red;
          margin-left: 15px;
          margin-right: 17px;
          .tag {
            position: absolute;
            transform: scale(2.2, 2) rotate(-45deg);
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .text {
            // border: 1px solid yellow;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            font-size: 0.8rem;
            translate: 2px 1px;

            .text-star {
              font-size: 0.5rem;
              translate: 0px 0.5px;
            }
          }
        }
      }


    }
  }

  .char-bars-section {
    // border: 2px solid red;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .char-bar-container {
      display: flex;
      width: 300px;
      margin-bottom: 5px;
      gap: 5px;
    }

    .char-bar-traits {
      display: flex;
      width: 300px;
    }

    .char-bar {
      margin-top: 3px;
      background-color: $color2;
      opacity: 0.4;
      z-index: -1;
      width: 100px;
      height: 10px;
    }

    .char-triangle {
      position:absolute;
      font-size: 1.1em;
      height: 10px;
      transform: rotate(180deg);
      margin-top: 9px;
      color: $triangle;
    }

    .trait-container-left {
      display: flex;
      justify-content: flex-start;
      width: 100px;
      font-size: .7rem;
    }
    .trait-container-middle {
      display: flex;
      justify-content: center;
      width: 100px;
      font-size: .7rem;
    }
    .trait-container-right {
      display: flex;
      justify-content: flex-end;
      width: 100px;
      font-size: .7rem;
    }
  }
}


.characteristics {
  display: flex;
  border: 1px solid $color1;

  .selection-type {
    // border: 2px solid $color1;
    border-right: 2px solid $color1;
    background-color: $color2;
    font-size: 1em;
    min-width: 100px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .selections {
    font-size: .7em; //need to change according to our root font size
    // border: 2px solid $color1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 80px;
    min-height: 40px;
    gap: 3px;

    span {
      white-space: pre;
      text-align: center;
    }

    div {
      width: 13px;
      height: 13px;
      display: flex;
      justify-content: center;
      align-items: center;

      input {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
      }

    }
  }
}

.review-modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-modal-content {
  border: 2px solid $color6;
  background-color: $color4;
  padding: 20px;
  position: fixed;
  min-width: 650px;
  width: 70vw;
  height: 85vh;
  overflow-y: auto;
  overflow-x: auto;

  .review-form {
    width: 100%;
    // overflow: auto;
  }

  .star-name-container {
    // border: 2px solid darkgreen;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    // height: 180px;
    margin-top: 10px;
  }

  .star-rec-container {
    // border: 2px solid blue;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .photo-container {
      // height: 120px;
      // border: 2px solid red;
      display: flex;
      flex-direction: column;

      .upload {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
      }

      .input-url {
        // border: 2px solid red;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        input {
          width: 80%;
        }
      }

      .photos {
        display: flex;
        // justify-content: space-between;
        gap: 6.25px;
      }

      .individual-photo {
        border: 2px solid $color6;
        width: 65px;
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
          height: 100%;
        }

        div {
          transform: scale(2);
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30.5px;
          height: 30.5px;
          background-color: $color4;
          opacity: .7;
          z-index: 0;
        }
      }

      .individual-photo:hover {
        opacity: .7;
        background-color: $color1;
        cursor: pointer;
      }

      .photo-error-message {
        color:red;
        margin-top: 5px;
        width: fit-content;
        padding: 2px 0px;
        font-size: .8rem;

        display: flex;
        gap: 5px;
        align-items: center;
        div {
          display: flex;
        }
      }
    }
  }

  .name-email-container {
    // border: 2px solid blue;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    // justify-content: space-between;
    gap: 20px;

    .username {
      // border: 2px solid blue;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 220px;


      input {
        width: 200px;
      }

      .privacy-notice {
        width: 160px;
        font-size: .7rem;
        text-align: center;
      }
    }

    .email {
      // border: 2px solid blue;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 220px;

      input {
        width: 200px;
      }

      .privacy-notice {
        width: 150px;
        font-size: .7rem;
        text-align: center;
      }
    }
  }

  .review-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
  }

  .star-rating {
    display: flex;
    gap: 10px;

    .star-meaning {
    }
  }

  .modal-recommend {
    display: flex;
    gap: 5px;

    .modal-rec-selection {
      display: flex;
      gap: 5px;
    }

    label {
      display: flex;
      gap: 5px;

      div {
        display: flex;
        justify-content: center;
        align-items: center;

        input {
          margin: 0px;
        }
      }
    }

    label:hover {
      div {
        div {
          border: 2px solid $color6;
          border-radius: 50%;
          position: absolute;
          width: 13px;
          height: 13px;
        }
      }
    }
  }

  .char-container {
    display: flex;
    flex-direction: column;
    // width: 600px;

    .char-forms {
      border: 1px solid $color1;
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  .review-summary-text {
    margin-top: 10px;
    margin-bottom: 10px;
    // border: 2px solid red;

    div {
      // border: 2px solid blue;
      width: 300px;
    }

    input {
      // border: 2px solid blue;
      width: 400px;
      resize: none;
    }
  }

  .review-body-text {
    // border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;

    .text-header {
      text-align: start;
    }

    .text-footer {
      // border: 2px solid blue;
      text-align: end;
    }

    div {
      // border: 2px solid blue;
      width: 100%;
    }

    textarea {
      background-color: $color5;
      width: 100%;
      height: 200px;
      resize: none;
    }
  }
}

.image-modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  // border: 2px solid blue;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-modal-content {
  img {
    max-width: 80vw;
    // height: auto;
    // height: 70vh;
    max-height: 70vh;
    object-fit: contain;
    box-shadow:  0 0 10px  rgba(0,0,0, .6);
  }
}

.action-buttons-container {
  // border: 2px solid red;
  // padding: 20px;
  margin-top: 50px;
  display: flex;
  gap: 15px;

  button {
    all: unset;
    border: 1px solid black;
    background-color: $color4;
    padding: 15px;
    height: 20px;

    div {
      display: flex;
      gap: 20px;
    }

    .more-text {
      font-size: 1rem;
      font-weight: 700;
    }

    .add-button-text {
      font-size: 1rem;
      font-weight: 700;
    }

    .plus-sign {
      // font-size: 1.5rem;
      font-weight: 400;
      transform: scale(1.3);
      position: relative;
      top: -1px;
    }
  }

  button:hover {
    opacity: .7;
    cursor: pointer;
  }
}