.banner {
  font-family: Inter, sans-serif;
  justify-content: center;
  text-align: center;
  // padding: 10px;
  // padding: 10px;
  // top: 20px;
  // margin-top: min(50px, 6%);
  // margin-top: 40px;
  font-size: 1.2vh;
  // border: solid green;
  margin-top: min(50px, 4%);
  margin-bottom: 2%;
  height: fit-content;
  flex-shrink: 2;
  transform: translate(0,-60%);
}

.banner-div {
  padding: 10px;
}

.spacer {
  height: 1vh;
  min-height: 20px;
  margin-bottom: 50px;
  margin-top: 20px;
}
