$color1: #463F3A;
$color2: #D0B8AC;
$color3: #F3D8C7;
$color4: #EFE5DC;
$color5: #FBFEFB;
$color6: #FF101F;
$color7: #32DE8A;

.banner {
  font-family: Inter, sans-serif;
  justify-content: center;
  text-align: center;
  font-size: 1.2vh;
  height: fit-content;
  flex-shrink: 1;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  padding: 20px;
}

.banner-div {
  align-items: center;
  padding: 10px;
  justify-content: center;
}

.spacer {
  height: 4vh;
  min-height: 20px;
  // margin-bottom: 50px;
  margin-top: max(2.5vh, 50px);
  width: 100%;
  display: flex;
  justify-self: center;
  align-items: center;
  z-index: 12;
  position: relative;
}

.sale {
  color: $color6;
  text-decoration: underline;
}

.sales {
  display: flex;
  flex-flow: row nowrap;
}

.sales:hover {
  cursor: pointer;
  display: flex;
}