
.top-buttons {
  display: flex;
  flex-flow: row wrap;
}

.top-buttons {
  display: flex;
  flex-flow: row nowrap;
  // justify-content: space-between;
  padding: 10px 0px;
}

.bottom-buttons {
  display: flex;
  flex-flow: row nowrap;
  // justify-content: space-between;
  padding: 10px 0px;
}

.button {
  border-radius: 0;
  border: solid;
  border-width: .5px;
  border-color: #463F3A;
  outline: none;
  background-color: #D0B8AC;
  padding-left: 10px;
  padding: 10px;
  text-align: left;
  font-family: Inter, sans-serif;
}

.button:hover {
  background-color: #463F3A;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.size-option {
  background: none;
  outline: none;
  border: solid black;
  width: 100px;

}

.dropdown-content {
  display: block;
  position: relative;
  background-color: #f9f9f9;
  min-width: 160px;
  margin: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  padding: 10px 10px;
  z-index: 2;
  height: 4vh;
}


.dropdown-content:hover {
  background-color: gray;
}

// .dropdown:hover .dropdown-content {
//   display: block;
// }