
// .top-buttons {
//   display: flex;
//   flex-flow: row wrap;
// }

.top-buttons {
  display: flex;
  flex-flow: row nowrap;
  // justify-content: space-between;
  max-width: 17vw;
  padding: 10px 0px;
}

.bottom-buttons {
  display: flex;
  flex-flow: row nowrap;
  width: 17vw;
  justify-content: flex-start;
  padding: 10px 0px;
}

.size {
  width: 11.95vw;
  margin-right: 1vw;
}

.quantity {
  width: 4vw;
}

.addToBag {
  width: 20vw;
  margin-right: 1vw;
}

.added {
  width: 20vw;
  margin-right: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .bag-check {
    color: green;
    transition: opacity 200ms ease-in;
  }
}

.favorite {

}

.out-of-stock {
  opacity: .5
}

.button {
  border-radius: 5%;
  border: solid;
  border-width: .5px;
  border-color: #463F3A;
  outline: none;
  height: 5vh;
  // background-color: #D0B8AC;
  background: none;
  padding-left: 10px;
  padding: 10px;
  text-align: left;
  align-items: center;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  font-weight: semibold;
  color: #463F3A;
  font-size: 1.6vh;

}

.button:hover {
  background-color: lightgray;
}

.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-list {
  margin: 0;
  inset: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9);
}

.size-option {
  background: none;
  outline: none;
  border: solid black;
  width: 11.95vw;

}

.quantity-option {
  background: none;
  outline: none;
  border: solid black;
  width: 4vw;
}

.dropdown-content {
  display: block;
  position: relative;
  // background-color: lightgray;
  margin: 0;
  box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.2);
  padding: 10px 10px;
  outline: none;
  border: none;
  text-align: left;
  background-color: white;
  z-index: 2;
  height: 4vh;
}


.dropdown-content:hover {
  background-color: lightgray;
}

// .dropdown:hover .dropdown-content {
//   display: block;
// }