$color1: #463F3A;
$color2: #D0B8AC;
$color3: #F3D8C7;
$color4: #EFE5DC;
$color5: #FBFEFB;
$color6: #FF101F;
$color7: #32DE8A;

.top-buttons {
  display: flex;
  flex-flow: row nowrap;
  // justify-content: space-between;
  max-width: 17vw;
  padding: 10px 0px;
  flex-shrink: 1;
}

.bottom-buttons {
  display: flex;
  flex-flow: row nowrap;
  width: 17vw;
  font-size: 5vw;
  justify-content: flex-start;
  padding: 10px 0px;
  flex-shrink: 1;
}

.size {
  width: 11.95vw;
  margin-right: 1vw;
}

.quantity {
  width: 4vw;
}

.addToBag {
  width: 20vw;
  margin-right: 1vw;
}

.added {
  width: 20vw;
  margin-right: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .bag-check {
    color: $color7;
    transition: opacity 200ms ease-in;
  }
}

.favorite {
  width: 3vw;
  display: flex;
  justify-content: center;
}

.favorite-star {
  align-self: center;
  scale: 1.5;
  color: $color1;
  font-weight: bold;
  opacity: 1;
  min-height: 20px;
  display: flex;
  flex-shrink: .2;
}

.favorite:hover {
  .favorite-star {
    animation: rotateY 2s infinite linear;
  }

  @keyframes rotateY {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
}



.dark-mode-star {
  color: #bb9f8c;
}

.light-mode-star {
  color: $color1;
}

.out-of-stock {
  opacity: .5
}

.button {
  outline: none;
  height: 5vh;
  padding-left: 10px;
  padding: 10px;
  text-align: left;
  align-items: center;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.6vh;
  overflow: hidden;
  display: flex;
}

.dark-mode-button {
  border: .5px solid #463F3A;
  background-color: #1b263b;
  color: #bb9f8c;
}

.light-mode-button {
  border: 1px solid $color1;
  background-color: $color4;
  color: $color1;
}

.light-mode-button:hover {
  opacity: .7;
  cursor: pointer;
}

.dark-mode-button:hover {
  opacity: 1;
  border: 1px solid #bb9f8c;
  cursor: pointer;
}



.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-list {
  margin: 0;
  inset: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9);
}

.size-option {
  border: solid black;
  width: 11.95vw;
}

.quantity-option {
  border: solid black;
  width: 4vw;
}

.dropdown-content {
  display: block;
  position: relative;
  // background-color: lightgray;
  margin: 0;
  padding: 10px 10px;
  outline: none;
  border: none;
  text-align: left;
  z-index: 2;
  height: 4vh;
  opacity: 1;
}

.dark-mode-dropdown {
  background-color: #1b263b;
  color: #bb9f8c;
  box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.2);
  opacity: 1;
}

.dark-mode-dropdown:hover {
  background-color: #141416;
  opacity: 1;
}

.light-mode-dropdown {
  background-color: white;
  box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.2);
}


.light-mode-dropdown:hover {
  background-color: lightgray;
  opacity: 1;
}

.social-buttons {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 2vh;
}

.social-media {
  height: min(3vh, 3vw);
  width: min(3vh, 3vw);
}

.dark-mode-social {
  color: #bb9f8c;
}

.light-mode-social {
  color: $color1;
}

.social-media:hover {
  opacity: .7;
  cursor: pointer;
}

.social-media:hover {
  opacity: .7;
  cursor: pointer;
}

.pinterest {
  scale: .9;
}