
@import "_thumbnails";

.o-slide {
  position: absolute;
  inset: 0;
<<<<<<< HEAD
  overflow: hidden;
}

// .o-slide > img {
//   display: cover;
//   width: 100%;
//   height: 100%;
//   object-fit: contain;
//   background: #463F3A;
//   object-position: center;
//   cursor: -moz-zoom-in;
//   cursor: -webkit-zoom-in;
//   cursor: zoom-in;
// }

.image {
=======
  opacity: 1;
}

.o-slide > img {
  display: cover;
>>>>>>> refs/remotes/origin/main
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: #463F3A;
  object-position: center;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
<<<<<<< HEAD
  position: relative;

  overflow: hidden;
  transition: 800ms transform;
=======
>>>>>>> refs/remotes/origin/main
}

.active {
  opacity: 1;
<<<<<<< HEAD
  z-index: 1;
  transition: 200ms opacity ease-in-out;
  transition-delay: 0ms;
}

.zoom:hover {
  transform: scale(2.5);
  transition: 800ms transform ease-out;
  cursor: crosshair;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // object-fit: none;

  // overflow: hidden;
=======
>>>>>>> refs/remotes/origin/main
}

.hidden {
  opacity: 0;
<<<<<<< HEAD
  z-index: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
=======
>>>>>>> refs/remotes/origin/main
}

.expanded {
  width: 100vw;
  height: 60vh;
  position: relative;
<<<<<<< HEAD
  // transition: width 200ms ease-in-out;
=======
>>>>>>> refs/remotes/origin/main
}

.normal {
  width: 60vw;
  height: 60vh;
  position: relative;
<<<<<<< HEAD
  // transition: width 200ms ease-in-out;
}


=======
}

>>>>>>> refs/remotes/origin/main
.o-carousel-button {
  position: absolute;
  background: none;
  border: none;
  font-size: 3rem;
  z-index: 2;
  transform: translate(0,50%);
  bottom: 50%;
  color: rgba(255,255,255,.5);
  cursor: pointer;
  border-radius: .05rem;
  padding: 0 .5rem;
  background-color: rgba(0,0,0,.1);
}

.o-carousel-button:hover,
.o-carousel-button:focus {
  color: white;
  background-color: rgba(0,0,0,.2);
}

.o-carousel-button.carousel-left {
  left: 4rem;
  // bottom: 50%;
}

.o-carousel-button.carousel-right {
  right: 1rem;
  // bottom: 50%;
}

.o-image-expand {
  z-index: 10;
  opacity: 1;
  right: 2%;
  top: 5%;
  border: solid;
  border-color: green;

  position: absolute;
  background: none;
  border: none;
  font-size: 1rem;
  z-index: 2;
  transform: translate(0,50%);
  bottom: 98%;
  color: rgba(255,255,255,.5);
  cursor: pointer;
  border-radius: .05rem;
  padding: 0 .5rem;
  background-color: rgba(0,0,0,.1);
}

.o-carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}