$color1: #463F3A;
$color2: #D0B8AC;
$color3: #F3D8C7;
$color4: #EFE5DC;
$color5: #FBFEFB;
$color6: #FF101F;
$darkNav: #242424;

.navBar {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  min-height: 50px;
  opacity: 1;
  justify-content: space-between;
  z-index: 6;
  margin-bottom: 20px;
}

.dark-mode-nav {
  background-color: $darkNav;
}

.light-mode-nav {
  background-color: $color2;
}

.logoWrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.brand {
  font-weight: bold;
  justify-content: center;
  text-align: center;
  position: relative;
  padding-right: 10px;
  cursor: pointer;
}

.brand-title {
  text-align: left;
}

.annotation {
  font-size: .5rem;
  font-weight: light;
}


.link {
  text-transform: uppercase;
  padding: 10px;
  font-size: .8em;
  transform: translate(0,3%);
  cursor: pointer;
}

.link:hover {
  opacity: .7;
}

@media only screen and (max-width: 900px) {
  .link {
      display: none;
  }
}

.logo {
  padding: 0px 5px;
  padding-left: 20px;
  font-size: 2em;
  position: relative;
  transform: translate(0,10%);
  align-self: center;
  cursor: pointer;
}

// .logo:hover {
//   transform: translate(0,0%);
//   animation: rotateY 2s infinite linear;

//   @keyframes rotateY {
//     from {
//       transform: rotateY(0deg);
//     }
//     to {
//       transform: rotateY(360deg);
//     }
//   }
// }

.dark-logo {
  color: #bb9f8c;
}

.light-logo {
  color: $color1;
}

.searchWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  min-width: 250px;
  padding: 5px 0px;
  padding-right: 20px;
}

.dark-mode-search {
  background-color: $darkNav;
  border-bottom: 2px solid #bb9f8c;
}

.light-mode-search {
  background-color: $color2;
  border-bottom: 2px solid $color1;
}

.search {
  border-top: none;
  border-left: none;
  border-right: none;
  height: 20px;
  width: 80%;
}

.search:hover,
.search:focus {
  outline: none;
}

.search-icon {
  margin-right: 30px;
  margin-left: 5px;
  scale: 1.2;
  transform: translate(0, 5%);
}

.dark-mode-icon {
  color: #bb9f8c;
}

.light-mode-icon {
  color: $color1;
}

.night-button {
  outline: none;
  background: none;
  border: none;
  text-align: center;
  justify-content: center;
}

.night-icon {
  scale: 1.6;
  transform: translate(0,10%);
}

.dark-mode {
  color: white;
}

.light-mode {
  color: $color1;
}