@import "_buttons";
@import "_navbar";
@import "_banner";
@import "_main_image";
@import "_product_info";
@import "_description.scss";

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin-left: 0;
}


