.image-and-info {
  display: flex;
  flex-flow: row nowrap;

}

// Product info
.product-info {
  padding-left: 20px;
  padding-top: 20px;
  display: flex;
  flex-flow: column nowrap;
  width: 40vw;
  height: 60vh;
  border: solid;
  border-color: green;
}

.info {
  // resize: inherit;
  width: 100%;
  height: 100%;
  // overflow: auto;
  flex-shrink: inherit;

}

.sale-price {
  color: red;
}

.original-price {
  color: black;
  opacity: .5;
  text-decoration: line-through;
}

.category {
  font-size: .8em;
  font-family: 'Inter', sans-serif;
  font-weight: light;
}

.product-name {
  font-size: 1.5em;
  font-family: 'Inter', sans-serif;
  width: fit-content;
  height: fit-content;
  font-weight: light;
  border: solid;
  border-color: green;
  padding: 0;
}

// styles
.styles {
  border: solid;
  border-color: green;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  height: fit-content;
  justify-content: start;
  // inset: 0;
}

.style-list {
  inset: 0;
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  width: 36vh;
  gap: 1vh;

  margin: 0;
  padding: 0;
  // list-style-position: outside;



  border: solid;
  border-color: green;
}

.style-thumbnail {
  inset: 0;
  height: 8vh;
  width: 8vh;
  object-fit: cover;
  border-radius: 100px;
}

.style-thumbnail:hover {
  border: solid red;
}

.style-active {
  border: solid black;
}

.price {
  border: solid;
  border-color: green;
}

.style {
  border: solid;
  border-color: green;
}
