$color1: #463F3A;
$color2: #D0B8AC;
$color3: #F3D8C7;
$color4: #EFE5DC;
$color5: #FBFEFB;
$color6: #FF101F;
$blue: #2f5aaa;

.image-and-info {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 10px;

  flex-shrink: 1;
  height: fit-content;
  padding-bottom: 10px;
  // min-width: 1200px;
  // border: solid green;
  // overflow: auto;
}

* {
  font-family: 'Inter', sans-serif;
}
// Product info
.product-info {
  padding-left: 5vw;
  padding-top: 20px;
  display: flex;
  flex-flow: column nowrap;
  width: 400px;//40vw;
  height: 60vh;
  height: fit-content;
}

.info {
  // resize: inherit;
  width: 100%;
  height: 100%;
  // overflow: auto;
  flex-shrink: inherit;
  position: relative;

  h1 {
    margin: 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
    // justify-content: flex-start;
    padding-right: 4px;
  }

  .rating {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    .review-link {
      padding-left: 2%;
      font-size: .7rem;
    }

  }

  .dark-mode {
    color: #bb9f8c;
  }

  .light-mode {
    color: $color1;
  }

}

.price {

  font-weight: normal;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: min(1.7vh, 1.7vw);;

  .sale-price {
    color: $color6;
    font-weight: bold;
  }

  .original-price {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    opacity: .5;
    text-decoration: line-through;
  }

  .dark-mode {
    color: #bb9f8c;
  }

  .light-mode {
    color: $color1;
  }

}



.category {
  text-transform: uppercase;
  font-size: min(1.2vh, 1.2vw);
  font-weight: normal;
  font-family: 'Inter', sans-serif;
  // font-weight: light;
  margin: 0px;
  padding-top: 5%;
  padding-bottom: 1%;
  // border: solid green;

  .dark-mode {
    color: #bb9f8c;
  }

  .light-mode {
    color: $color1;
  }
}

.product-name {
  font-size: min(3vh, 3vw);
  font-family: 'Inter', sans-serif;
  width: fit-content;
  height: fit-content;
  font-weight: bold;

  h1 {
    text-align: left;
  }
  // border: solid green;
  // border: solid;
  // border-color: green;
  padding-top: 0%;
  padding-bottom: 0%;

  .dark-mode {
    color: #bb9f8c;
  }

  .light-mode {
    color: $color1;
  }


}



// styles
.styles {
  padding: 0;
  // border: solid;
  // border-color: green;

  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;

  h4, h2, h1 {
    margin: 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
  }

  .dark-mode {
    color: #bb9f8c;
  }

  .light-mode {
    color: $color1;
  }



  // align-items: flex-start;
  // height: fit-content;
  // justify-content: start;
  // inset: 0;
  .style {

    font-size: min(1.5vh, 1.5vw);

    .style-name {
      text-transform: uppercase;
      font-weight: normal;
    }
  }

}


.style-list {
  inset: 0;
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  width: 27vh;
  gap: 1vh;

  margin: 0;
  padding: 0;
  padding-top: 3%;
  padding-bottom: 3%;



  // border: solid;
  // border-color: green;
}

.style-container {
  overflow: hidden;
  position: relative;
}

.style-checkmark {
  z-index: 2;
  position: absolute;
  top: 0px;
  right: 0px;
  height: fit-content;
  width: fit-content;
  border-radius: 100%;

  .checkmark-self {
    color: $color2;
    background-color: white;
    border-radius: 100%;
    scale: 1;
    height: min(2vh,2vw);
    width: min(2vh,2vw);
    top: 0px;
    right: 0px;
  }


}

// .testMe:hover {

// }

.style-thumbnail {
  inset: 0;
  height: min(6vh,6vw);
  width: min(6vh,6vw);
  object-fit: cover;
  border-radius: 100px;
  transition: border 200ms ease-in-out;
}

.style-thumbnail:hover {
  border: solid $color2;
  transition: border 200ms ease-in-out;

}

.style-active {
  border: solid $color1;
}

.price {
  // border: solid;
  // border-color: green;
}
