.thumbnails {
  display: flex;
  flex-flow: column nowrap;
  // border: solid;
  // border-color: green;
  width: 4vw;
  inset: 0;
  z-index: 4;
  position: absolute;
  align-items: center;
  height: fit-content;

  // border: solid;
  // border-color: green;

  overflow: hidden;
}

.thumbnail-images {
  position: relative;
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding-left: .5vw;
  height: 37vh;
  width: fit-content;

  // transform: translate(-5%);

  // border: solid;
  // border-color: green;

  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
  // overflow: hidden;
}

.thumbnail-images::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.thumbnail-div {
  inset: 0;
}

.thumbnail-image {
  inset: 0;
  height: 5vh;
  width: 5vh;
  object-fit: cover;
  border-radius: 3px;
}

.thumbnail-active {
  border: rgba(0, 0, 0, 0.8) solid;
  border-width: 2px;
}

.down-nav {
  background-color: rgba(255,255,255,.8);
  outline: none;
  border: none;
  border-radius: 100px;
  width: fit-content;
  align-self: center;
  align-items: center;
  transition: opacity 200ms;
}

.down-nav:hover {
  border: solid green;
}

.thumbnail-image:hover {
  transform: scale(1.2);
  transition: transform 300ms ease-out;
}


